<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="colmn is-one-third">Tiket Id:</div>
                <div class="colmn">{{ ticket.ticket_id }}</div>
            </div>
            <div class="columns">
                <div class="colmn is-one-third">Name: </div>
                <div class="colmn">{{ ticket.name }}</div>
            </div>
            <div class="columns">
                <div class="colmn is-one-third">Email address: </div>
                <div class="colmn">{{ ticket.email }}</div>
            </div>
            <div class="columns">
                <div class="colmn is-one-third">Mobile Number: </div>
                <div class="colmn">{{ ticket.phone }}</div>
            </div>
        </div>
    </div>
</div>